* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

body {
    background: url(../img/fundo2.jpg)no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-image: url(../img/backhearder.png);
    background-color: #eee6ed;
}

main {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    font-size: 25px;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px dashed #f89d03;
}

h2 {
    padding: 10px;
}

form {
    color: #3f3f30
}

#info {
    border: 5px solid #82029d;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin: 10px;
    background-color: #eee6ed99;
}

#dadosPessoais {
    border: 5px solid #f89d03;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin: 10px;
    background-color: #eee6ed99;
}

#dadosPessoais input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}

#dadosPessoais select{
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    background-color: #fff;
}

label {
    padding: 10px;
    margin-top: 10px;
}

#contato {
    border: 5px solid #f89d03;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin: 10px;
    background-color: #eee6ed88;
    align-items: center;
}

#contato input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}

#enderecos {
    border: 5px solid #f89d03;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin: 10px;
    background-color: #eee6ed88;
    align-content: center;
}

#enderecos input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}

#cep input{
    width: 20%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}


#documentos {
    border: 5px solid #f89d03;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin: 10px;
    background-color: #eee6ed88;
    align-content: center;
}

#documentos input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}

#documentos select{
padding: 5px 10px;
border: none;
border-radius: 5px 5px 5px 5px;
margin: 10px;
background-color: #fff;
}

form button {
    text-align: center;
    width: 15%;  
    padding: 5px 10px;
    background: linear-gradient(to right, #f89d03 50%, #82029d 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #eee6ed;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 200ms;
    border-radius: 5px 5px 5px 5px;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

form button:hover {
    background-position: left bottom;
    color: #eee6ed;
}

.required:before{
    content: "*";
    color: red;
}

footer {
    height: 25%;
    width: 100%;
    background-image: url(../img/backhearder.png);
    background-color: #eee6ed;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

ul {
    list-style: none;
}

ul li {
    padding-top: 5px;
}

#git::before {
    content: '';
    width: 16px;
    height: 16px;
    float: left;
    background-image: url(../img/git.png);
    background-repeat: no-repeat;
    padding-right: 5px;
}

#git {
    font-size: 16px;
    color: #3f3f30;
}
#mail::before {
    content: '';
    width: 16px;
    height: 16px;
    float: left;
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    padding-right: 5px;
}

#mail {
    font-size: 16px;
    color: #3f3f30;
}

#in::before {
    content: '';
    width: 16px;
    height: 16px;
    float: left;
    background-image: url(../img/in.png);
    background-repeat: no-repeat;
    padding-right: 5px;
}

#in {
    font-size: 16px;
    color: #3f3f30;
}